@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


li{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logo_text{
    font-family: 'Roboto', sans-serif;
}
.home_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.home_text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.home_text3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.hundredx{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.home_text1{
    font-family: 'Poppins', sans-serif;     
}
.home_button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.footer{
    color: #FFFFFFCC;
  }


 
  